<h3>Hola {{nombre}}</h3>

<p>Tu cuenta ha sido creada.</p>

<p>Haz clic en el botón para activarla:</p>

<div style="text-align:center; margin:30px;">
  <a href="{{link}}"
     style="background:#0d6efd; color:white; padding:12px 20px; text-decoration:none; border-radius:5px;">
     Activar cuenta
  </a>
</div>

<p>Si no solicitaste esta cuenta ignora este correo.</p>