<div style="font-family:Arial; background:#f4f4f4; padding:20px;">
  <div style="max-width:600px; margin:auto; background:white; border-radius:8px; overflow:hidden;">
    
    {{> header}}

    <div style="padding:30px;">
      {{{body}}}
    </div>

    {{> footer}}

  </div>
</div>